################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Genesis
/Genesis/bin/Debug/net8.0-android
/Genesis/obj/.cache
/.vs/ProjectEvaluation
/Genesis/obj/Debug/net8.0-android/android/assets/Genesis.pdb
